*{
    box-sizing: border-box;
    text-align: center
}

body { font-size: 24px}
header{
    background:#acc;
    padding:20px;
    color:#333;
    height:100px;
}
nav{
    background:#c6e4e4;
    padding:20px;
    color:#333;
    height:100px;
}
#leftside{
    background-color: #888;
    color: white;
    width: 50%; 
    float: left;
    height:200px; 
}

aside{
            float: none
            background:#acc;
            padding:20px;
            color:#333;
            height:100px;
      }
  
#h1Text {
    background-color:black;
    width: 50 px; 
    margin-left: 25px;
    margin-top: 25px; 
    margin-right: 25px;
}

footer{clear: both;padding: 20px; height: 40 px; width= 40px;background-color: #ccc;}